section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.image {
  position: relative;
  width: 50%;
  height: 100%;
}

.image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg,#e91e63,#03a9f4);
  z-index: 1;
  mix-blend-mode: screen;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-details {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.form {
  width: 50%;
}

.form h2 {
  color: #607d8b;
  font-weight: 800;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #ff84;
  display: inline-block;
  line-height: 1px;
}
 
.input-box {
  margin-top: 20px;
}

.input-box label {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607db8;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}

.input-box input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607db8;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607db8;
  background: transparent;
  border-radius: 30px;
}

.input-box input[type="submit"] {
  background: #1b263b;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.input-box input[type="submit"]:hover {
  background: #0d1b2a;
}

.remember {
  margin-bottom: 10px;
  color: #607d8b;
  font-weight: 400;
  font-size: 14px;
}

.input-box p {
  color: #607d8b;
}

.input-box p a {
  color: #1b263b;
}

.socialmedia-login i {
  font-size: 20px;
}

.remember {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .login-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .form {
    width: 100%;
    padding: 40px;
    background: rgb(255 255 255 / 0.9);
    margin: 50px;
  }

}