.main-banner {
  margin-top: 9em;
  background-image: url("../images/main_image.jpg");
  background-size: cover;
  height: 75vh;
  background-position: center;
  margin-right: 1em;
  margin-left: 1em;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-banner p, .main-banner button {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.main-banner p {
  font-size: 5rem;
}

.main-banner button {
  margin-top: 3em;
  padding: 1em 2em 1em 2em;
  border: none;
  font-size: 1.5rem;
  background-color: #778da9;
  border-radius: 30px;
}

.categories {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.group {
  width: 200px;
  height: 170px;
  cursor: pointer;
  position: relative;
  
}

.category-1 {
  background-image: url("../images/groceries.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.category-2 {
  background-image: url("../images/vegetables.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.category-3 {
  background-image: url("../images/fruits.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.category-4 {
  background-image: url("../images/dairy_products.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.category-5 {
  background-image: url("../images/cosmetics_skincare.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.shop {
  margin-top: 20px;
}

.shop h2 {
text-align: center;
}

.group a, .group a:visited {
  background-color: #778da9;
  color: #fff;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.group a:hover {
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
}

.featured-products {
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 40px 10px;
}

.items {
  width: 280px;
  border: 1px solid #415a77;
  background-color: #e0e1dd;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items img {
  width: 200px;
}

.items p {
  font-size: 14px;
}

.add-product {
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: #415a77;
  color: #fff;
  border: none;
}

.section-2 {
  margin-top: 2em;
}

.section-2 h2 {
  text-align: center;
}

.veggie-bounty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.veggie-bounty img {
  margin-top: 2em;
  margin-bottom: 2.3em;
  
}
.veggie-skewers {
  height: 200px;
}

.about {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #fff;
  
}
 
 .about h2 {
  font-size: 30px;;
  padding-bottom: 30px;
  margin-left: 20px;
}
 
.about img {
  width: 400px;
  margin-left: 20px;
}

.info {
  width: 600px;
  float: right;
  margin-right: 60px;
  margin-top: 2em;
}

 .read-more {
  background-color: #415a77;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 20px;
  margin-top: 2.5em;
} 
.topic-service {
  margin-top: 2em;
  margin-left: 1em;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  padding-bottom: 20px;
}

.services {
  padding-left: 20px;
} 

.services h2 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.service {
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s, background 0.5s;
}

.service:hover {
  background-color: #415a77;
  color: #fff;
  transform: scale(1.05);
}

.service i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #0d1b2a;
}

.service:hover i {
  color: #fff;
}

.loyalty-program {
  margin-top: 60px;
  margin-left:20px;
  margin-bottom: 60px;
  position: relative;
  width: 90%;
}

.loyalty-program h2 {
    margin-left: 20px;
    margin-bottom: 50px;
  }

.loyalty-program p {
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 150px;

}

.loyalty-program ul li {
  margin-bottom: 10px;
}

.loyalty-program ul {
  margin-left: 150px;
}

.loyalty-program li {
  margin-left: 260px;
  margin-right: auto;
}

.loyalty-program img {
 position: absolute;
 right: 150px;
 top: 50px;
}

.register {
  background-color: #415a77;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 20px;
  margin-left: 150px;
}